Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.sub
config.status
configure
depcomp
install-sh
libtool
librevenge.spec
librevenge-zip
ltmain.sh
m4
# FIXME: this does not work, I must have misunderstood the man page...
!m4/ax*.m4
missing
mkinstalldirs
stamp-h1
tags
test-driver
*.pc
*.rc
*~
*.tar.*

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.sln
*.vcxproj
*.csproj
*.filters
*.user
